body {
  padding-top: 70px;
  font-size: 12px;
}

.container{
	max-width: 900px;
}


/*  Menu  */

.nav{
	padding-top: 10px;
	font-size: 14px;
}

.nav > li > a {
    padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #ff7600;
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ff7600;
    color:#fff;
}


.nav > li > a {
    color: #929292;
}

.navbar-default {
    background-color:#fff;
    border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #ff7600;
    color:#fff;
}

.navbar {
    margin-bottom: 0px;
}


/*  board  */
.board thead tr td{
	font-weight: 700;
	text-align: center;
}

.board thead{
	border-top: 1px solid #696969;
}

.board tbody td:nth-child(2), .board tbody td:nth-child(3), .board tbody td:nth-child(4), .board tbody td:nth-child(5){
	text-align: center;
}

.board td:nth-child(2){
	width: 100px;
}

.board td:nth-child(3){
	width: 80px;
}

.board td:nth-child(4){
	width: 50px;
}

.board td:nth-child(5){
	width: 50px;
}



/*  fotter  */
.footer{
	border-top: 1px solid #cccccc;
	margin-top: 50px;
	height:120px;
	color: #363636;
}

.footer_bottom_content{
	margin-top: 50px;
}